<h4><%= @character.character_name %></h4>
<i><%= @character.actor_name %></i>
<p><%= @character.description %></p>

<h4>About <%= @tv_show.title %></h4>
<i><%= @tv_show.network %> | <%= @tv_show.years %></i>
<p><%= @tv_show.synopsis %></p>
